.hidden_list{
	padding:0;
	position: absolute;
	top: 100%;
	left: 0;
	width: auto;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-40%);
	z-index: -1;
	transition: all 0.3s ease-in-out 0s, 
	            visibility 0s linear 0.3s, 
	            z-index 0s linear 0.01s;
}

.hidden_list_slidedown{
	visibility: visible; /* shows sub-menu */
	opacity: 1;
	z-index: -1;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s; 
}
