@import "./base.scss";

.container_header{
	border:none;
	border-radius: 5px 5px 0 0;
    padding: 10px;
    width: 100%;
    float: left;
    color: $font-color;  
    @include font-stack;
    cursor: pointer;
    &.collapsed{
        border-radius:5px;
        transition-delay:0.3s;
    }
}

.container_box{
	background-color:none;
	border:1px solid #cccccc;
    border-top:none;
    height: 300px;
    width: 100%;
    float: left;
    color: #333333;  
    padding: 9px;
    @include font-stack;
    transition: all 0.3s ease-in-out;
    &.collapsed{
        max-height:0px; 
        overflow: hidden;
        border:none;
        padding-top: 0;
        padding-bottom: 0;
    }
}


.container{
    float:left;
    width: 300px;
    margin:30px 0 0 30px;
	&.grey_white{
        .header{
        	@extend .container_header;
        	background-color: $font-color-lighter-2;
        }
        .box{
        	@extend .container_box;
        }
	}

    &.black_white{
        .header{
			@extend .container_header;
			background-color: $font-color-regular;
        }
        .box{
        	@extend .container_box;
        }
    }

    &.red_white{
        .header{
			@extend .container_header;
			background-color: $button-color-2;
        }
        .box{
        	@extend .container_box;
        }
    }

}