@import "./base.scss";

.container_header{
    @include font-stack-bold;
	border:none;
	border-radius: 5px 5px 0 0;
    width: 100%;
    color: $font-color;  
    cursor: pointer;
    padding:8px 10px 8px 5px;
    &.collapsed{
        border-radius:5px;
        transition-delay:0.3s;
    }
}

.container_box{
    @include font-stack;
	background-color:none;
	border:1px solid #cccccc;
    border-top:none;
    height: 300px;
    width: 100%;
    float: left;
    color: #333333;  
    padding: 1px 0 0 0;
    transition: all 0.3s ease-in-out;
    &.collapsed{
        max-height:0px; 
        overflow: hidden;
        border:none;
        padding-top: 0;
        padding-bottom: 0;
    }
}


#dashboardContainer{
    position:relative;
    @extend .centerContent;
    .ypod-hd-left{
        @extend .container_header;
        background-color: $font-color-lighter-2;
        background-image:none;
        .dashboard-pod-title{
            @extend .container_header;
            > img {display:none;}
        }
        &.error-pod{
            background-color: $button-color-2;
        }
    }
    .ypod-dlg-body{
        padding:5px 0 5px 5px;
        @extend .container_box;
        ol{
            margin: 10px 0 0 0px !important;
            padding: 0 !important;
        }
        .scrollingWrapper{
            overflow:hidden !important;
            >div{
                margin: 0px !important;
            }
        }
        > table{
            margin: -5px 0 0 -6px;
        }
    }

    .ypod{
        .ypod-hd,.ypod-hd-right{
            @extend .noBackground;
        }
        .ypod-hd{
            padding:0
        }
    }



    /*float:left;
    margin:30px 0 0 30px;
	&.grey_white{
        .header{
        	@extend .container_header;
        	background-color: $font-color-lighter-2;
        }
        .box{
        	@extend .container_box;
        }
	}

    &.black_white{
        .header{
			@extend .container_header;
			background-color: $font-color-regular;
        }
        .box{
        	@extend .container_box;
        }
    }

    &.red_white{
        .header{
			@extend .container_header;
			background-color: $button-color-2;
        }
        .box{
        	@extend .container_box;
        }
    }*/

}