@import "base.scss";

.regular-link{
	@include font-stack;
	color: $link-color;
	&:hover{
		@include hoverState;
	}
}

.remove-delete-link{
	@include font-stack;
	color: $link-color-important;
	&:hover{
		@include hoverState;
	}
}

.button{
	@include font-stack;
	border-radius:5px;
	padding:4px 10px;
    text-decoration: none !important;
}

.primary-button{
	@extend .button;
	background-color: $button-color-2;
	color:$font-color;
	border:none;
	&:hover{
    	background:$button-color-2-hover
    }
}

.secondary-button{
	@extend .button;
	background-color: $button-color-1;
	color:$button-color-2;
	border: 1px solid $border-color;
}

.disabled-button{
	@extend .button;
	background-color: $button-color-1;
	color:$font-color-lighter-2;
	border: 1px solid $border-color;
}

.confirmBtn{
	width:100%;
	display:block;
	background:green;
	height:30px;
	color:#ffffff;
	text-decoration:none !important;
	line-height:30px;			
	text-align:center;
	&:hover{
		background:rgba(0,128,0,0.8);
	}
}

















