@import "base.scss";	
@import "animation.scss";

.standard_height{
	height: $data-height;
	line-height: $data-height;
}

.firstLayer_link{
	color: $font-color; 
	text-decoration: none;
	height: 2 * $data-height;
	line-height: 2 * $data-height;
	display: block;
	padding: 0 30px 0 15px;
	position: relative;
	transition: all 0.3s ease-in-out 0.1s;
	background-color: $background-color-dark-1;
	&:hover{
		background-color: $link-color-highlight;
	}
}

.secondLayer_link{
	color: #000000; 
	text-decoration: none;
	padding: 0 0px 0 10px;
	@extend .standard_height;
}

.forthItem{
	display:none;
}


.thirdItem{
	display:none;
	position:absolute;
	left: 188px;
    top: -13px;
    overflow: inherit !important;
	li{
		width:200px;
	}
	ul { 
		@extend .forthItem
	}
	&.report,&.otherEvents{
		overflow-y:auto !important;
		max-height:400px;
		padding:0;
		left: 194px;
    	top: -7px;
	}
}


.secondaryItem{
	position:relative;
	list-style:none;
	width:200px;
	background-color: $background-color-light;
	color:#000;
	margin:0;
	@extend .standard_height;
	border-bottom:1px solid $background-color-dark-2;
	> a {
		@extend .secondLayer_link;
	}
	&:hover{
		background-color:$background-color-dark-2;
		border-bottom:1px solid $font-color !important;
		> a {
			color:$font-color;
		}
		> ul {
			display:block;
		}
	}
	&.has_child{
	    &:after{
	    	content: ">";
	    	position:absolute;
	    	right:0;
	    }
	}
	> ul {
		@extend .thirdItem;
	}
}

.mainMenuItem{
	@include font-stack;
	float: left;
	list-style:none;
	position: relative;
	z-index: 2;
	transition: all 0.3s ease-in-out 0.1s;
	background-color: $background-color-dark-1;
	&:hover{
		>a { 
			background-color:$link-color-highlight;}
		ul { @extend .hidden_list_slidedown; }
	}


	> a {
		@extend .firstLayer_link;
	}

	> ul {
		@extend .hidden_list;    
		width:auto;
		margin:0;   
		overflow:inherit !important;     
		li {
			@extend .secondaryItem;
		}
	}
	
}

.site_top_nav{
	width: 100%;
	background: #000000;
	color: #ffffff;
	height: 30px;
	position: relative;
	z-index: 3;

	.statusImg {
	    height: 13px;
	    margin: 0px 6px 0 0;
	    position: relative;
	    top:2px;
	}

	.col{
	  @include font-stack;	
	  @extend .standard_height;	
	  float: left;
	  margin: 0 0 0 34px;
	}

	.login{
	   @include font-stack;		
	   float: right;
	   margin: 0 34px 0;
	   @extend .standard_height;
		   a{
		  color: $font-color;
	    }
	}
}

#bcbg{
	@extend .centerContent;
	background:none !important;
	.breadcrumbs{
		font-weight: normal;
		#breadSelectedOption{
			font-weight: bold;
		}
	}
}

#searchBoxContainer{

}

div.ControlBreadCrumbBanner{
	padding:0 !important;
	background-color: $background-color-dark-1;	
	width:100%;
	border:none;
	#ssMenuBar{
	  background-color: $background-color-dark-1;
	  height: 2 * $data-height; ;
	  color: $font-color;
	  @extend .centerContent;
	  /*-moz-box-shadow:0 0 5px #888;
	  -webkit-box-shadow:0 0 5px#888;
	  box-shadow:0 0 5px #888;*/
	  position: relative;
	  .logo {
		    height: 43px;
		    margin: 10px 0 0 20px;
		    float: left;
	  }

	  .searchField{
		  width: 500px;
		  position: absolute;
		  right: 10px;
		  top:15px;
		  display: none;
		  input.textField{
			  width: 320px;
			  margin-right: 10px;
			  float: left;
			  height: 30px;
		   }

		   .btn{
			  float: left;
			  color: red;
			  height: 30px;
			}

		}

		ul#ss_menu{
			margin: 0 0 0 0px;
			position:absolute;
			left:0;
			top:0;
			background-color: $background-color-dark-1;
			padding:0;
			> li{
				@extend .mainMenuItem;

			}
			li.dividerListItem{
				display:none;
			}
			
		}
	}

}











