@import "./base.scss";
@import "./links_buttons.scss";
@import "./navigations.scss";
@import "./containers.scss";
@import "./table.scss";
@import "./data.scss";


body{
	/*display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(135deg, rgba(78,230,174,1) 0%, rgba(76,153,235,1) 100%);
	margin: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	height: 100vh;
	*/

	h1{
		@include page-header;
	}

	div{
	  &.discription{
	  	 @include regular-text;
	  }
	}

	a{
		color:$link-color;
	}


	#filter_span{
	    display: inline;
	    /*background: url("images/filter.png") no-repeat scroll left 0 transparent;*/
	    background: #000000;
		width: 166px;
		height: 21px;
		float: left;
	    padding-left: 10px;
	    cursor: pointer;
	    padding-top: 3px;
	     font-size: 12px;
		    color: white; 
	}
	#retrieveCover_list
	{
		position: absolute;
		top:21px;
		left:0px;
		display: none;
		width:100%;
	}
	#retrieveCover_list span
	{
	   background-color: #6E78A5;
	    border-bottom: 1px solid #D2D2D2;
	    color: white;
	    display: block;
	    font-size: 12px;
	    height: 18px;
	    width: 166px;	
	    padding-left: 10px;
	    cursor: pointer;
	    padding-top: 3px;
	}
	#retrieveCover_list span:hover{
		 background-color: #fff;
		 color: #6E78A5;
	}

	#retrieveCover_list .active{
		 background-color: #fff;
		 color: #6E78A5;
	}

	.dropdown{
		position:relative;
	}	

	#select_currentLang{
		font-size:16px;
		margin-bottom:10px;
	}

	#notReport{
		position:relative;
		#searchBoxContainer{
			left: inherit;
			right: 50%;
			border: none;
			margin-right: -545px;
			top: 40px;
			background: none;
		}

		#sessionMessage + div{
			float:left !important;
		}
		.ControlTitle{
			text-indent: -999999px;
		}

		#actionBoxLiner{
			width:380px;
		}

		.ControlSearchEntryBox{
			width:220px;
			padding:5px 0 5px 5px;
		}

	}

	.controlBodyBox{
	   text-align: center;
	   > div{
	   	 @extend .centerContent;
	   }
	   #report-label,,#reportMenuLinks,#reportViewDetail{
	   	 @extend .centerContent;
	   }
	   #reportOnly{
	   	 @extend .centerContent;
	   	 table{
	   	 	table-layout: fixed;
	   	 	max-width: 100%;
	   	 }
	   }
	   #reportViewDetail{
	   	  text-align:center;
	   }

	   #reportMenuLinks{
	   	 > a , >span >a{
	   	 	@extend .secondary-button;
	   	 }
	   }
	}

}

