.flex_column{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	height: $data-height;
}

table{
	tr{
		th{
		   width: auto !important;
		   @include font-stack-bold;
		   text-align:left;
		   background-color: #666666;
		   color: $font-color;
		   height: $data-height;
		   line-height: $data-height;
		   border-collapse: collapse;
		}
	}


	tr{
		th,td{
		 	padding: 0;
		 	padding-left:5px;
		 	border-left:1px solid #f1f1f1;
		 	border-bottom:1px solid #f1f1f1;
		}

        &:nth-of-type(even) {
		    background: #F9F9F9;
		}
		> td{
			@include font-stack;
			height: $data-height;
			word-break:break-all;
			white-space:inherit !important;
			span{
				@extend .flex_column;
				> span {
					@extend .confirmBtn
				}
				> div.success{
					@extend .confirmBtn
				}
			}
			div{
				@extend .flex_column;
			}
		}

	}

	.row{
		color: $font-color-regular;
		height: $data-height;
		line-height: $data-height;
		border:1px solid $border-color; 
		background-color: $font-color;
		padding-left: 20px;
		&.alternative{
			background-color: $background-color-light;
		}
	}


}